.animated {
  animation-duration: .5s;
  animation-fill-mode: both;
  -webkit-animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@keyframes fadeIn { 
  from { opacity: 0 } 
  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.deleted {
  animation: fadeIn 1.5s infinite alternate;
}

.added {
  animation-name: fadeIn;
  animation-duration: .5s;
}
